Repository ruaan-deysel/unraid-management-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint, gosec, govulncheck, go-mod-verify, check-version-format

go-build:
  name: Go Build
  description: Verify code compiles
  entry: bash -c 'go build -o /dev/null .'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint (Zero Tolerance)
  description: Run golangci-lint with strict configuration
  entry: golangci-lint run
  language: system
  pass_filenames: false
  args:
  - --timeout=5m
  - --config=.golangci.yml
  - --max-issues-per-linter=0
  - --max-same-issues=0
  - --issues-exit-code=1
  - ./...

gosec:
  name: GoSec Security Scanner
  description: Security scanner for Go code
  entry: gosec
  language: system
  pass_filenames: false
  args:
  - -fmt=text
  - -exclude-dir=vendor
  - -exclude-dir=tests
  - -exclude=G115,G304,G301,G306
  - -severity=medium
  - -confidence=medium
  - ./...

govulncheck:
  name: Go Vulnerability Check
  description: Check for known vulnerabilities in Go dependencies
  entry: bash -c 'if command -v govulncheck >/dev/null 2>&1; then govulncheck ./...; else echo "govulncheck not installed. Run go install golang.org/x/vuln/cmd/govulncheck@latest"; exit 0; fi'
  ...

go-mod-verify:
  name: Go Mod Verify
  description: Verify dependencies have expected content
  entry: go mod verify
  language: system
  pass_filenames: false

check-version-format:
  name: Check VERSION Format
  description: Ensure VERSION file follows YYYY.MM.DD format
  entry: bash -c 'if [[ -f VERSION ]]; then version=$(cat VERSION); if ! [[ $version =~ ^[0-9]{4}\.[0-9]{2}\.[0-9]{2}$ ]]; then echo "VERSION file must follow YYYY.MM.DD format (found $version)"; exit 1; fi; fi'
  ...

feat(api): GET /fans/sensors + source-aware fan profile assignment
  daemon/services/api/fan_sensors_test.go
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/controllers/fan.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(fan): log unavailable drives + emit empty catalog slices as []
  daemon/services/controllers/fan.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(mcp): add get_fan_sensors and drive-source set_fan_profile
  daemon/dto/mcp.go
  daemon/services/mcp/fan_sensors_test.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(mcp): explicit source_type handling + REST-consistent validation
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

docs(swagger): regenerate for /fans/sensors endpoint
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
Due: go-build, golangci-lint, gosec, govulncheck

fix(lib): read disks.ini from /var/local/emhttp (correct Unraid path)
  daemon/lib/disktemp.go
  daemon/lib/disktemp_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(fan): harden temp-source validation per code review
  daemon/lib/validation.go
  daemon/lib/validation_test.go
  daemon/services/api/handlers.go
  daemon/services/controllers/fan_config.go
  daemon/services/controllers/fan_curves.go
  daemon/services/mcp/server.go
  docs/superpowers/plans/2026-06-07-drive-aware-fan-curves.md.tasks.json
Due: go-build, golangci-lint, gosec, govulncheck

docs(changelog): drive-aware fan curves + sensor discovery
  CHANGELOG.md
Due: none

chore(plan): mark all drive-aware fan curve tasks complete
  docs/superpowers/plans/2026-06-07-drive-aware-fan-curves.md.tasks.json
Due: none

fix(api): per-client rate limiting + don't flag disabled Docker/VM as degraded
  CHANGELOG.md
  VERSION
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/source_status.go
  daemon/platform/registry.go
  daemon/platform/registry_test.go
  daemon/services/api/middleware.go
  daemon/services/api/middleware_test.go
  daemon/services/api/server.go
  daemon/services/collectors/docker.go
  daemon/services/collectors/service_state.go
  daemon/services/collectors/service_state_test.go
  daemon/services/collectors/vm.go
  unraid-management-agent.plg
Due: go-build, golangci-lint, gosec, govulncheck, check-version-format

fix(collectors): fail fast on no-internet networks; bound remote-share statfs
  daemon/dto/source_status.go
  daemon/platform/registry.go
  daemon/platform/registry_test.go
  daemon/services/api/diagnostics.go
  daemon/services/api/handlers.go
  daemon/services/collector_manager.go
  daemon/services/collectors/docker_update.go
  daemon/services/collectors/docker_update_test.go
  daemon/services/collectors/network_access.go
  daemon/services/collectors/plugin_update.go
  daemon/services/collectors/plugin_update_test.go
  daemon/services/collectors/unassigned.go
  daemon/services/collectors/unassigned_test.go
  daemon/services/controllers/coverage_test.go
  daemon/services/controllers/docker.go
  daemon/services/controllers/plugin.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(api): expose month, cron, and check_cron in parity schedule endpoint
  CHANGELOG.md
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/settings.go
  daemon/services/collectors/settings.go
  daemon/services/collectors/settings_test.go
Due: go-build, golangci-lint, gosec, govulncheck

chore: update version to 2026.06.05 in VERSION and plugin file
  VERSION
  unraid-management-agent.plg
Due: check-version-format

ci(release): auto-release on VERSION bump and embed changelog notes
  .github/workflows/release.yml
Due: none

feat: MCP read-only mode (#126) and configurable HTTP bind address (#125)
  CHANGELOG.md
  daemon/domain/config.go
  daemon/domain/fileconfig.go
  daemon/lib/validation.go
  daemon/lib/validation_test.go
  daemon/services/api/server.go
  daemon/services/discovery/service.go
  daemon/services/discovery/service_test.go
  daemon/services/mcp/readonly_test.go
  daemon/services/mcp/server.go
  daemon/services/orchestrator.go
  docs/guides/configuration.md
  docs/integrations/mcp.md
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md.tasks.json
  docs/superpowers/plans/2026-06-07-feature-parity.md.tasks.json
  main.go
  meta/plugin/default.cfg
  meta/plugin/scripts/apply
  meta/plugin/scripts/start
  meta/plugin/unraid-management-agent.page
Due: go-build, golangci-lint, gosec, govulncheck

fix: address CodeRabbit review findings
  CHANGELOG.md
  daemon/lib/validation_test.go
  docs/integrations/mcp.md
  meta/plugin/scripts/apply
  meta/plugin/unraid-management-agent.page
Due: go-build, golangci-lint, gosec, govulncheck

feat(ui): bind address dropdown of detected interface IPs + review fixes
  daemon/services/mcp/readonly_test.go
  docs/guides/configuration.md
  docs/integrations/mcp.md
  meta/plugin/unraid-management-agent.page
Due: go-build, golangci-lint, gosec, govulncheck

test: address final CodeRabbit review findings
  daemon/lib/validation_test.go
  daemon/services/discovery/service_test.go
  daemon/services/mcp/readonly_test.go
  docs/guides/configuration.md
Due: go-build, golangci-lint, gosec, govulncheck

fix(ui): make interface IP detection work under php-fpm
  CHANGELOG.md
  meta/plugin/scripts/apply
  meta/plugin/unraid-management-agent.page
Due: none

chore(release): bump version to 2026.06.06
  CHANGELOG.md
  VERSION
  unraid-management-agent.plg
Due: check-version-format

fix(plugin): route event-script output to syslog to stop stuck webGUI footer
  meta/plugin/event/started
  meta/plugin/event/stopping_svcs
Due: none

feat(plugin): redesign plugin icons with reproducible generator
  icon.png
  meta/plugin/images/unraid-management-agent-128.png
  meta/plugin/images/unraid-management-agent-48.png
  meta/plugin/images/unraid-management-agent.png
  scripts/generate_icon.py
Due: none

chore(release): bump version to 2026.06.07
  CHANGELOG.md
  VERSION
  unraid-management-agent.plg
Due: check-version-format

feat(agent): collector stall watchdog, statfs leak bound, Root Shares, diagnostics download
  CHANGELOG.md
  VERSION
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/unassigned.go
  daemon/logger/logger.go
  daemon/services/api/diagnostics.go
  daemon/services/api/server.go
  daemon/services/api/websocket.go
  daemon/services/collectors/array.go
  daemon/services/collectors/disk.go
  daemon/services/collectors/docker.go
  daemon/services/collectors/gpu.go
  daemon/services/collectors/hardware.go
  daemon/services/collectors/mover.go
  daemon/services/collectors/network.go
  daemon/services/collectors/nut.go
  daemon/services/collectors/share.go
  daemon/services/collectors/unassigned.go
  daemon/services/collectors/unassigned_test.go
  daemon/services/collectors/ups.go
  daemon/services/collectors/watchdog.go
  daemon/services/collectors/watchdog_test.go
  daemon/services/collectors/zfs.go
  daemon/services/diagnostics/archive.go
  daemon/services/diagnostics/archive_test.go
  meta/plugin/include/diagnostics.php
  meta/plugin/unraid-management-agent.page
  unraid-management-agent.plg
Due: go-build, golangci-lint, gosec, govulncheck, check-version-format

docs: expand CLAUDE.md with coding guidelines and best practices
  CLAUDE.md
Due: none

docs: remove Claude-specific instructions for clarity and conciseness
  CLAUDE.md
Due: none

docs: design spec for deferring to external fan controllers (#128)
  docs/superpowers/specs/2026-06-16-defer-external-fan-control-design.md
Due: none

fix(fancontrol): defer to third-party fan controllers (#128)
  CHANGELOG.md
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/fan.go
  daemon/lib/fancontrol_external.go
  daemon/lib/fancontrol_external_test.go
  daemon/services/collectors/fancontrol.go
  daemon/services/collectors/fancontrol_test.go
  daemon/services/controllers/fan.go
  daemon/services/controllers/fan_external_test.go
  daemon/services/controllers/fan_hwmon.go
  daemon/services/controllers/fan_safety.go
  daemon/services/controllers/fan_safety_restore_test.go
  docs/superpowers/specs/2026-06-16-defer-external-fan-control-design.md
Due: go-build, golangci-lint, gosec, govulncheck

chore: update version to 2026.06.09 and update changelog
  CHANGELOG.md
  VERSION
  unraid-management-agent.plg
Due: check-version-format

feat(server): native HTTPS/TLS for REST & MCP endpoint (#131)
  CHANGELOG.md
  daemon/domain/config.go
  daemon/domain/config_test.go
  daemon/domain/fileconfig.go
  daemon/lib/validation.go
  daemon/lib/validation_tls_test.go
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/discovery/service.go
  daemon/services/discovery/service_test.go
  daemon/services/orchestrator.go
  docs/guides/configuration.md
  docs/integrations/claude/README.md
  main.go
Due: go-build, golangci-lint, gosec, govulncheck

refactor(validation): address CodeRabbit review on #131 TLS changes
  daemon/lib/validation.go
  daemon/lib/validation_tls_test.go
  docs/integrations/claude/README.md
Due: go-build, golangci-lint, gosec, govulncheck

docs/refactor: address CodeRabbit round 2 on #131
  daemon/domain/config.go
  daemon/domain/config_test.go
  docs/guides/configuration.md
  main.go
Due: go-build, golangci-lint, gosec, govulncheck

docs/refactor: address CodeRabbit round 3 on #131
  docs/guides/configuration.md
  docs/integrations/claude/README.md
  main.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(server): native HTTPS/TLS for REST & MCP endpoint (#131) (#132)
  CHANGELOG.md
  daemon/domain/config.go
  daemon/domain/config_test.go
  daemon/domain/fileconfig.go
  daemon/lib/validation.go
  daemon/lib/validation_tls_test.go
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/discovery/service.go
  daemon/services/discovery/service_test.go
  daemon/services/orchestrator.go
  docs/guides/configuration.md
  docs/integrations/claude/README.md
  main.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(release): bump version to 2026.06.10
  CHANGELOG.md
  VERSION
  unraid-management-agent.plg
Due: check-version-format

chore: keep planning/graphify docs local-only
  .gitignore
  CLAUDE.md
  docs/plans/2026-03-08-homelab-hardening-design.md
  docs/plans/2026-03-08-homelab-hardening-implementation.md
  docs/superpowers/plans/2026-05-31-agentic-agent-phase1-foundation.md
  docs/superpowers/plans/2026-05-31-agentic-agent-phase1-foundation.md.tasks.json
  docs/superpowers/plans/2026-05-31-agentic-agent-phase2-autonomy.md
  docs/superpowers/plans/2026-05-31-agentic-agent-phase2-autonomy.md.tasks.json
  docs/superpowers/plans/2026-05-31-agentic-agent-phase3-memory.md
  docs/superpowers/plans/2026-05-31-agentic-agent-phase3-memory.md.tasks.json
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md.tasks.json
  docs/superpowers/plans/2026-06-07-drive-aware-fan-curves.md
  docs/superpowers/plans/2026-06-07-drive-aware-fan-curves.md.tasks.json
  docs/superpowers/plans/2026-06-07-feature-parity.md
  docs/superpowers/plans/2026-06-07-feature-parity.md.tasks.json
  docs/superpowers/specs/2026-05-31-agentic-agent-design.md
  docs/superpowers/specs/2026-06-06-os-resilience-design.md
  docs/superpowers/specs/2026-06-07-drive-aware-fan-curves-design.md
  docs/superpowers/specs/2026-06-07-feature-parity-design.md
  docs/superpowers/specs/2026-06-16-defer-external-fan-control-design.md
Due: none

feat(agent): add Langfuse config flags and OTel deps
  daemon/domain/config.go
  daemon/domain/config_test.go
  daemon/domain/fileconfig.go
  go.mod
  go.sum
  main.go
Due: go-build, golangci-lint, gosec, govulncheck, go-mod-verify

feat(telemetry): Langfuse OTel provider with no-op and masking
  daemon/services/agent/telemetry/masking.go
  daemon/services/agent/telemetry/tracer.go
  daemon/services/agent/telemetry/tracer_test.go
  go.mod
  go.sum
Due: go-build, golangci-lint, gosec, govulncheck, go-mod-verify

feat(llm): tracingProvider decorator emitting Langfuse generation spans
  daemon/services/agent/llm/tracing.go
  daemon/services/agent/llm/tracing_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(agent): session/step/tool tracing spans + wire tracing provider
  daemon/dto/agent.go
  daemon/services/agent/bootstrap.go
  daemon/services/agent/bootstrap_test.go
  daemon/services/agent/learning_test.go
  daemon/services/agent/loop.go
  daemon/services/agent/loop_test.go
  daemon/services/agent/loop_trace_test.go
  daemon/services/agent/planner_test.go
  daemon/services/agent/recall_test.go
  daemon/services/agent/service.go
  daemon/services/agent/service_test.go
  daemon/services/agent/trigger_test.go
  daemon/services/orchestrator.go
Due: go-build, golangci-lint, gosec, govulncheck

Path conditions:
  go-build: any of: \.go$
  golangci-lint: any of: \.go$
  gosec: any of: \.go$
  govulncheck: any of: (\.go$|go\.mod$)
  go-mod-verify: any of: ^go\.(mod|sum)$
  check-version-format: any of: ^VERSION$
