Repository ruaan-deysel/unraid-management-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint, gosec, govulncheck, go-mod-verify, check-version-format

go-build:
  name: Go Build
  description: Verify code compiles
  entry: bash -c 'go build -o /dev/null .'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint (Zero Tolerance)
  description: Run golangci-lint with strict configuration
  entry: golangci-lint run
  language: system
  pass_filenames: false
  args:
  - --timeout=5m
  - --config=.golangci.yml
  - --max-issues-per-linter=0
  - --max-same-issues=0
  - --issues-exit-code=1
  - ./...

gosec:
  name: GoSec Security Scanner
  description: Security scanner for Go code
  entry: gosec
  language: system
  pass_filenames: false
  args:
  - -fmt=text
  - -exclude-dir=vendor
  - -exclude-dir=tests
  - -exclude=G115,G304,G301,G306
  - -severity=medium
  - -confidence=medium
  - ./...

govulncheck:
  name: Go Vulnerability Check
  description: Check for known vulnerabilities in Go dependencies
  entry: bash -c 'if command -v govulncheck >/dev/null 2>&1; then govulncheck ./...; else echo "govulncheck not installed. Run go install golang.org/x/vuln/cmd/govulncheck@latest"; exit 0; fi'
  ...

go-mod-verify:
  name: Go Mod Verify
  description: Verify dependencies have expected content
  entry: go mod verify
  language: system
  pass_filenames: false

check-version-format:
  name: Check VERSION Format
  description: Ensure VERSION file follows YYYY.MM.DD format
  entry: bash -c 'if [[ -f VERSION ]]; then version=$(cat VERSION); if ! [[ $version =~ ^[0-9]{4}\.[0-9]{2}\.[0-9]{2}$ ]]; then echo "VERSION file must follow YYYY.MM.DD format (found $version)"; exit 1; fi; fi'
  ...

docs(swagger): regenerate for self-test endpoint + source_status fields
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
Due: go-build, golangci-lint, gosec, govulncheck

test(resilience): harden breakage cases + capture glob error (CodeRabbit)
  AGENTS.md
  daemon/services/collectors/fixtures_test.go
Due: go-build, golangci-lint, gosec, govulncheck

docs(changelog): OS-resilience & self-diagnostics (sub-project B)
  CHANGELOG.md
Due: none

chore(plan): all OS-resilience tasks complete (0-10)
  daemon/docs/swagger.json
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md.tasks.json
Due: none

docs(spec): feature-parity design (sub-project C)
  docs/superpowers/specs/2026-06-07-feature-parity-design.md
Due: none

docs(plan): feature-parity implementation plan + tasks (sub-project C)
  docs/superpowers/plans/2026-06-07-feature-parity.md
  docs/superpowers/plans/2026-06-07-feature-parity.md.tasks.json
Due: none

feat(parity): VM reset (libvirt DomainReset) via vm_action + REST
  daemon/dto/mcp.go
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/controllers/vm.go
  daemon/services/controllers/vm_test.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(parity): gate only vm_action reset on confirm (not force-stop) — keep existing behavior
  daemon/dto/mcp.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): C-Task 0 complete
  docs/superpowers/plans/2026-06-07-feature-parity.md.tasks.json
Due: none

feat(parity): container remove (+optional image) via container_action + REST
  daemon/dto/docker.go
  daemon/dto/mcp.go
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/controllers/docker.go
  daemon/services/controllers/docker_test.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): C-Task 0-1 complete
  docs/superpowers/plans/2026-06-07-feature-parity.md.tasks.json
Due: none

feat(parity): set container autostart
  daemon/dto/docker.go
  daemon/dto/mcp.go
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/controllers/docker.go
  daemon/services/controllers/docker_test.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): C-Task 2 complete
  docs/superpowers/plans/2026-06-07-feature-parity.md.tasks.json
Due: none

feat(parity): docker port-conflict detection
  daemon/dto/docker.go
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/controllers/docker.go
  daemon/services/controllers/docker_test.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(parity): port-conflicts consider only running containers + deterministic ordering
  daemon/services/controllers/docker.go
  daemon/services/controllers/docker_test.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): C-Task 3 complete
  docs/superpowers/plans/2026-06-07-feature-parity.md.tasks.json
Due: none

feat(parity): array safe-subset (clear-disk-stats)
  daemon/constants/const.go
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/controllers/array.go
  daemon/services/controllers/array_test.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(parity): gate clear-disk-stats on emhttpd socket (not emcmd binary)
  daemon/constants/const.go
  daemon/services/controllers/array.go
  daemon/services/controllers/array_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(parity): REST /vm/{name}/reset requires confirm=true (safety)
  daemon/dto/vm.go
  daemon/services/api/handlers.go
  daemon/services/api/handlers_new_test.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): C-Task 4 complete (clear-disk-stats; mount/unmount dropped)
  docs/superpowers/plans/2026-06-07-feature-parity.md.tasks.json
Due: none

docs(parity): 125 tools, new endpoints/actions, swagger regen
  AGENTS.md
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  docs/integrations/mcp.md
  skills/unraid-management-agent/SKILL.md
  skills/unraid-management-agent/references/mcp-tools.md
Due: go-build, golangci-lint, gosec, govulncheck

docs(changelog): control feature parity (sub-project C)
  CHANGELOG.md
Due: none

chore(plan): all feature-parity tasks complete (C 0-5)
  daemon/docs/swagger.json
  docs/superpowers/plans/2026-06-07-feature-parity.md.tasks.json
Due: none

fix(fan): log stall warning once per transition (not every cycle); quiet clean-shutdown log
  daemon/services/controllers/fan_safety.go
  daemon/services/controllers/fan_safety_test.go
  daemon/services/orchestrator.go
Due: go-build, golangci-lint, gosec, govulncheck

test(fan): restore logger level in cleanup (CodeRabbit)
  daemon/services/controllers/fan_safety_test.go
Due: go-build, golangci-lint, gosec, govulncheck

docs(changelog): fan-safety log-spam + clean-shutdown fixes (2026.06.03)
  CHANGELOG.md
  VERSION
  unraid-management-agent.plg
Due: check-version-format

feat(metrics): expose Go runtime + process collectors on /metrics
  daemon/services/api/metrics.go
  daemon/services/api/metrics_test.go
Due: go-build, golangci-lint, gosec, govulncheck

docs(changelog): note Go runtime/process metrics on /metrics
  CHANGELOG.md
Due: none

docs(spec): drive-aware fan curves + sensor discovery design
  docs/superpowers/specs/2026-06-07-drive-aware-fan-curves-design.md
Due: none

docs(plan): drive-aware fan curves + sensor discovery implementation plan
  docs/superpowers/plans/2026-06-07-drive-aware-fan-curves.md
  docs/superpowers/plans/2026-06-07-drive-aware-fan-curves.md.tasks.json
Due: none

feat(lib): add disks.ini drive-temperature parser
  daemon/lib/disktemp.go
  daemon/lib/disktemp_test.go
Due: go-build, golangci-lint, gosec, govulncheck

test(lib): assert disks.ini default path
  daemon/lib/disktemp_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(lib): treat missing/unparsable disk temp as unavailable
  daemon/lib/disktemp.go
  daemon/lib/disktemp_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(lib): add hwmon temperature-sensor discovery
  daemon/lib/hwmon.go
  daemon/lib/hwmon_test.go
Due: go-build, golangci-lint, gosec, govulncheck

refactor(lib): MaxTempChannels const + document 0-reading skip
  daemon/lib/hwmon.go
  daemon/lib/hwmon_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(dto): add FanTempSource, sensor-catalog DTOs, and validation
  daemon/dto/fan.go
  daemon/lib/validation.go
  daemon/lib/validation_test.go
Due: go-build, golangci-lint, gosec, govulncheck

refactor(lib): cap hwmon sensor path length + document symlink caveat
  daemon/lib/validation.go
  daemon/lib/validation_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(fan): resolve drive/hwmon temp sources with per-profile fallback
  daemon/services/controllers/fan.go
  daemon/services/controllers/fan_curves.go
  daemon/services/controllers/fan_curves_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(fan): migrate legacy fancontrol.json assignments to Source shape
  daemon/services/controllers/fan_config.go
  daemon/services/controllers/fan_config_test.go
Due: go-build, golangci-lint, gosec, govulncheck

test(fan): cover legacy fancontrol.json migration via Load
  daemon/services/controllers/fan_config.go
  daemon/services/controllers/fan_config_test.go
Due: go-build, golangci-lint, gosec, govulncheck

Path conditions:
  go-build: any of: \.go$
  golangci-lint: any of: \.go$
  gosec: any of: \.go$
  govulncheck: any of: (\.go$|go\.mod$)
  go-mod-verify: any of: ^go\.(mod|sum)$
  check-version-format: any of: ^VERSION$
