Repository ruaan-deysel/unraid-management-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint, gosec, govulncheck, go-mod-verify, check-version-format

Path conditions:
  go-build: any of: \.go$
  golangci-lint: any of: \.go$
  gosec: any of: \.go$
  govulncheck: any of: (\.go$|go\.mod$)
  go-mod-verify: any of: ^go\.(mod|sum)$
  check-version-format: any of: ^VERSION$

fix(notifications): resolve Dynamix notification path from dynamix.cfg at startup
  daemon/services/collectors/notification.go
  daemon/services/collectors/notification_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(notifications): update controller default path to Dynamix notifications dir
  daemon/services/controllers/notification.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(notifications): count Dynamix 'normal' importance as info
  daemon/services/collectors/notification.go
  daemon/services/collectors/notification_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix: address CodeRabbit review on PR #93
  daemon/services/collectors/notification.go
  daemon/services/collectors/notification_test.go
  daemon/services/collectors/share.go
  daemon/services/collectors/ups.go
  daemon/services/controllers/notification.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(mqtt): add network throughput rates and expanded HA sensor coverage
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/mqtt.go
  daemon/dto/mqtt_test.go
  daemon/dto/network.go
  daemon/services/collector_manager.go
  daemon/services/collectors/network.go
  daemon/services/mqtt/client.go
  daemon/services/mqtt/client_coverage_test.go
  daemon/services/mqtt/client_test.go
  daemon/services/mqtt/discovery.go
  daemon/services/orchestrator.go
Due: go-build, golangci-lint, gosec, govulncheck

test(collectors): add unit tests for network throughput rate calculation
  daemon/services/collectors/network.go
  daemon/services/collectors/network_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(mqtt): add HA discovery for system fan sensors
  daemon/dto/system.go
  daemon/services/collectors/parsing_test.go
  daemon/services/collectors/system.go
  daemon/services/collectors/system_test.go
  daemon/services/mqtt/client.go
  daemon/services/mqtt/discovery.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(network): prune stale prevStats entries and use single sample timestamp
  daemon/services/collectors/network.go
  daemon/services/collectors/network_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(mqtt): guard PublishSystemInfo against nil SystemInfo dereference
  daemon/services/mqtt/client.go
  daemon/services/mqtt/client_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix: address CodeRabbit review on PR #94 (CSS vars, swagger doc, nosec, test quality)
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/network.go
  daemon/services/collectors/notification.go
  daemon/services/collectors/notification_test.go
  meta/plugin/unraid-management-agent.page
Due: go-build, golangci-lint, gosec, govulncheck

feat(diagnostics): add diagnostic logging system with correlation IDs, redaction, and bundle CLI
  CHANGELOG.md
  VERSION
  daemon/cmd/diagnostics.go
  daemon/domain/context.go
  daemon/dto/diagnostic_bundle.go
  daemon/dto/diagnostic_log.go
  daemon/lib/correlation.go
  daemon/lib/redact.go
  daemon/lib/redact_test.go
  daemon/logger/diagnostic.go
  daemon/services/collectors/disk.go
  daemon/services/diagnostics/archive.go
  daemon/services/diagnostics/archive_test.go
  daemon/services/diagnostics/bundle.go
  daemon/services/diagnostics/bundle_test.go
  go.mod
  main.go
  unraid-management-agent.plg
  unraid-management-agent.xml
Due: go-build, golangci-lint, gosec, govulncheck, go-mod-verify, check-version-format

fix(diagnostics): address CodeRabbit review findings
  daemon/lib/redact.go
  daemon/logger/diagnostic.go
  daemon/services/diagnostics/archive.go
  daemon/services/diagnostics/archive_test.go
  daemon/services/diagnostics/bundle_test.go
Due: go-build, golangci-lint, gosec, govulncheck

security(plugin): fix shell injection in start script and add log handler
  CHANGELOG.md
  meta/plugin/default.cfg
  meta/plugin/include/exec.php
  meta/plugin/scripts/start
Due: none

docs(changelog): consolidate unreleased entries under 2026.04.00
  CHANGELOG.md
Due: none

ci(dependabot): add weekly dependency update checks for Go modules and GitHub Actions
  .github/dependabot.yml
Due: none

fix(security): harden API, WebSocket, validation, and command execution
  CHANGELOG.md
  daemon/lib/validation.go
  daemon/lib/validation_test.go
  daemon/services/api/handlers.go
  daemon/services/api/middleware.go
  daemon/services/api/server.go
  daemon/services/api/websocket.go
  daemon/services/collectors/docker.go
  daemon/services/collectors/unassigned.go
  daemon/services/controllers/userscripts.go
  daemon/services/diagnostics/bundle.go
  daemon/services/watchdog/probes.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(security): address Copilot review feedback
  CHANGELOG.md
  daemon/services/api/middleware.go
  daemon/services/api/websocket.go
  daemon/services/controllers/userscripts.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(api): address CodeRabbit review findings
  CHANGELOG.md
  daemon/lib/shell.go
  daemon/lib/validation.go
  daemon/services/api/middleware.go
  daemon/services/api/middleware_test.go
  daemon/services/api/websocket.go
  daemon/services/collectors/unassigned.go
  daemon/services/controllers/userscripts.go
  daemon/services/watchdog/probes.go
Due: go-build, golangci-lint, gosec, govulncheck

style(api): fix missing trailing newlines in middleware.go and websocket.go
  daemon/services/api/middleware.go
  daemon/services/api/websocket.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(security): harden API, WebSocket, validation, and command execution (#106)
  CHANGELOG.md
  daemon/lib/shell.go
  daemon/lib/shell_test.go
  daemon/lib/validation.go
  daemon/lib/validation_test.go
  daemon/services/api/handlers.go
  daemon/services/api/middleware.go
  daemon/services/api/middleware_test.go
  daemon/services/api/server.go
  daemon/services/api/websocket.go
  daemon/services/api/websocket_coverage_test.go
  daemon/services/collectors/docker.go
  daemon/services/collectors/unassigned.go
  daemon/services/controllers/userscripts.go
  daemon/services/diagnostics/bundle.go
  daemon/services/watchdog/probes.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(gpu): assign globally unique indices across all GPU vendors
  CHANGELOG.md
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/gpu.go
  daemon/services/collectors/gpu.go
  daemon/services/collectors/gpu_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(gpu): address PR review — extract helper, stabilise ROCm ordering, improve tests
  CHANGELOG.md
  daemon/docs/swagger.json
  daemon/services/collectors/gpu.go
  daemon/services/collectors/gpu_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(gpu): assign globally unique indices across all GPU vendors (#107)
  CHANGELOG.md
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/gpu.go
  daemon/services/collectors/gpu.go
  daemon/services/collectors/gpu_test.go
Due: go-build, golangci-lint, gosec, govulncheck

Correct release date for version 2026.04.01
  CHANGELOG.md
Due: none

fix(security): harden API with rate limiting, CORS, error sanitization, and dependency upgrades
  CHANGELOG.md
  VERSION
  daemon/services/api/handlers.go
  daemon/services/api/handlers_test.go
  daemon/services/api/middleware.go
  daemon/services/api/middleware_test.go
  daemon/services/api/server.go
  daemon/services/api/server_test.go
  go.mod
  go.sum
  main.go
  unraid-management-agent.plg
Due: go-build, golangci-lint, gosec, govulncheck, go-mod-verify, check-version-format

feat(docs): add Aikido MCP security rules and best practices
  .github/instructions/aikido_rules.instructions.md
Due: none

fix(author): correct author name formatting in plugin metadata
  unraid-management-agent.plg
Due: none

fix(collectors): use zpool capacity for ZFS disk usage
  CHANGELOG.md
  daemon/services/collectors/disk.go
  daemon/services/collectors/disk_test.go
Due: go-build, golangci-lint, gosec, govulncheck

chore: update Go version to 1.26.3 and bump all dependencies to latest versions
  CHANGELOG.md
  go.mod
  go.sum
Due: govulncheck, go-mod-verify

chore: update version to 2026.05.00 and change release date to 2026-05-16
  VERSION
  unraid-management-agent.plg
  unraid-management-agent.xml
Due: check-version-format

chore: update Go version to 1.26.3 in release workflow
  .github/workflows/release.yml
Due: none

feat: add swap memory metrics and notification events to MQTT integration
  .claude/settings.local.json
  .gitignore
  CHANGELOG.md
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/alert.go
  daemon/dto/mqtt.go
  daemon/dto/system.go
  daemon/dto/system_test.go
  daemon/services/alerting/engine.go
  daemon/services/collectors/system.go
  daemon/services/collectors/system_test.go
  daemon/services/mqtt/client.go
  daemon/services/mqtt/client_test.go
  daemon/services/mqtt/discovery.go
  docs/integrations/mqtt.md
  go.mod
  go.sum
Due: go-build, golangci-lint, gosec, govulncheck, go-mod-verify

feat: Enhance ZFS and hardware information collection
  .claude/settings.local.json
  CHANGELOG.md
  VERSION
  daemon/constants/const.go
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/alert.go
  daemon/dto/docker.go
  daemon/dto/hardware.go
  daemon/dto/process.go
  daemon/dto/zfs.go
  daemon/lib/boot_tpm.go
  daemon/lib/boot_tpm_test.go
  daemon/lib/dmidecode.go
  daemon/lib/dmidecode_test.go
  daemon/lib/sysfs_hardware.go
  daemon/services/alerting/engine.go
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/collectors/docker.go
  daemon/services/collectors/hardware.go
  daemon/services/collectors/zfs.go
  daemon/services/controllers/process.go
  daemon/services/controllers/process_test.go
  daemon/services/mcp/server.go
  daemon/services/mqtt/discovery.go
  docs/api/rest-api.md
  unraid-management-agent.plg
Due: go-build, golangci-lint, gosec, govulncheck, check-version-format

docs(spec): continuous container update detection design
  docs/superpowers/specs/2026-05-30-continuous-container-updates-design.md
Due: none

docs(plan): continuous container update detection implementation plan
  docs/superpowers/plans/2026-05-30-continuous-container-updates.md
  docs/superpowers/plans/2026-05-30-continuous-container-updates.md.tasks.json
Due: none

feat(docker): add container update status fields and event topic
  daemon/constants/topics.go
  daemon/dto/docker.go
  daemon/dto/docker_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(docker): gofmt alignment and clarify update_status comment
  daemon/dto/docker.go
  daemon/dto/docker_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(docker): add DockerUpdate collector with change-detection
  daemon/services/collectors/docker_update.go
  daemon/services/collectors/docker_update_test.go
Due: go-build, golangci-lint, gosec, govulncheck

refactor(docker): export CheckFn injection point for cross-package wiring
  daemon/services/collectors/docker_update.go
  daemon/services/collectors/docker_update_test.go
Due: go-build, golangci-lint, gosec, govulncheck

test(docker): cover nil CheckFn and republish-on-change; fix doc comment
  daemon/services/collectors/docker_update.go
  daemon/services/collectors/docker_update_test.go
Due: go-build, golangci-lint, gosec, govulncheck
