Repository ruaan-deysel/unraid-management-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint, gosec, govulncheck, go-mod-verify, check-version-format

Path conditions:
  go-build: any of: \.go$
  golangci-lint: any of: \.go$
  gosec: any of: \.go$
  govulncheck: any of: (\.go$|go\.mod$)
  go-mod-verify: any of: ^go\.(mod|sum)$
  check-version-format: any of: ^VERSION$

fix(agent): planner extracts JSON array from prose/fence-wrapped LLM replies
  daemon/services/agent/planner.go
  daemon/services/agent/planner_test.go
Due: go-build, golangci-lint, gosec, govulncheck

Refactor code structure for improved readability and maintainability
  .claude/settings.local.json
  coverage.html
Due: none

feat(unassigned): detect, report, and control SMB/NFS remote shares
  .gitignore
  CHANGELOG.md
  daemon/constants/const.go
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/mcp.go
  daemon/dto/unassigned.go
  daemon/lib/validation.go
  daemon/lib/validation_test.go
  daemon/services/api/handlers.go
  daemon/services/api/server.go
  daemon/services/collectors/unassigned.go
  daemon/services/collectors/unassigned_test.go
  daemon/services/controllers/remoteshare.go
  daemon/services/controllers/remoteshare_test.go
  daemon/services/mcp/server.go
  daemon/services/mqtt/client.go
  daemon/services/mqtt/commands.go
  daemon/services/mqtt/discovery.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(agent): address Copilot review feedback
  CHANGELOG.md
  daemon/services/agent/learning_test.go
  daemon/services/agent/learning_tools.go
  daemon/services/agent/recall.go
  docs/integrations/agent.md
Due: go-build, golangci-lint, gosec, govulncheck

chore(security): upgrade Go toolchain 1.26.3 → 1.26.4
  .github/workflows/release.yml
  CHANGELOG.md
  go.mod
Due: govulncheck, go-mod-verify

chore(release): 2026.06.01
  CHANGELOG.md
  VERSION
  unraid-management-agent.plg
Due: check-version-format

docs(changelog): set 2026.06.01 release date to 2026-06-01
  CHANGELOG.md
Due: none

Change release date for version 2026.06.01
  CHANGELOG.md
Due: none

feat(discovery): add zeroconf/mDNS auto-discovery (#120)
  CHANGELOG.md
  daemon/constants/const.go
  daemon/domain/config.go
  daemon/domain/context.go
  daemon/domain/fileconfig.go
  daemon/services/discovery/service.go
  daemon/services/discovery/service_test.go
  daemon/services/orchestrator.go
  docs/guides/configuration.md
  go.mod
  go.sum
  main.go
Due: go-build, golangci-lint, gosec, govulncheck, go-mod-verify

feat(skills): add Agent Skill + ChatGPT Actions integration (#121)
  .claude-plugin/marketplace.json
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  docs/integrations/README.md
  docs/integrations/chatgpt/README.md
  docs/integrations/chatgpt/openapi-actions.yaml
  docs/integrations/claude/README.md
  docs/integrations/mcp.md
  skills/README.md
  skills/unraid-management-agent/SKILL.md
  skills/unraid-management-agent/references/connection.md
  skills/unraid-management-agent/references/diagnostics.md
  skills/unraid-management-agent/references/mcp-tools.md
  skills/unraid-management-agent/references/rest-api.md
  skills/unraid-management-agent/references/workflows.md
Due: none

chore(release): 2026.06.02
  CHANGELOG.md
  VERSION
  unraid-management-agent.plg
Due: check-version-format

fix(changelog): update issue references from 'issue #' to '#' for consistency
  CHANGELOG.md
Due: none

docs(spec): OS-resilience & compatibility hardening design (sub-project B)
  docs/superpowers/specs/2026-06-06-os-resilience-design.md
Due: none

docs(spec): add mandatory test/build/verify-on-Unraid/CodeRabbit gate to OS-resilience design
  docs/superpowers/specs/2026-06-06-os-resilience-design.md
Due: none

docs(plan): OS-resilience hardening implementation plan + tasks (sub-project B)
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md.tasks.json
Due: none

feat(platform): add dto.SourceStatus + status Registry with transition notifier
  daemon/dto/source_status.go
  daemon/platform/registry.go
  daemon/platform/registry_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(platform): add Detector, Resolver, and shape-validation helpers
  daemon/platform/detector.go
  daemon/platform/detector_test.go
  daemon/platform/resolver.go
  daemon/platform/resolver_test.go
  daemon/platform/validate.go
  daemon/platform/validate_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(platform): wire status registry into context/orchestrator + WS source_status_changed topic
  daemon/constants/topics.go
  daemon/domain/context.go
  daemon/services/api/event_bindings.go
  daemon/services/orchestrator.go
  daemon/services/probes.go
  main.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(platform): seed capabilities + wire notifier in MCP STDIO mode too
  daemon/services/orchestrator.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): sync task status (Tasks 0-2 complete)
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md.tasks.json
Due: none

feat(resilience): shape-validate + report status in system and array collectors
  daemon/dto/array.go
  daemon/dto/system.go
  daemon/services/collectors/array.go
  daemon/services/collectors/system.go
  daemon/services/collectors/validators.go
  daemon/services/collectors/validators_test.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(resilience): shape-validate + report status in disk and shares collectors
  daemon/dto/disk.go
  daemon/dto/share.go
  daemon/services/collectors/disk.go
  daemon/services/collectors/share.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(resilience): shape-validate + report status in docker and vm collectors
  daemon/dto/docker.go
  daemon/dto/vm.go
  daemon/services/collectors/docker.go
  daemon/services/collectors/vm.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): sync task status (Tasks 0-5 complete, hardware-verified)
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md.tasks.json
Due: none

feat(resilience): capability-gate array/disk control (mdcmd) and VM virsh snapshot listing
  daemon/services/controllers/array.go
  daemon/services/controllers/guard.go
  daemon/services/controllers/guard_test.go
  daemon/services/controllers/vm.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(resilience): capability-gate CloneVM (virt-clone)
  daemon/services/controllers/vm.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): sync task status (Task 6 complete)
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md.tasks.json
Due: none

feat(resilience): add /diagnostics/self-test endpoint + health-report degraded summary + verify assertion
  ansible/roles/verify/tasks/diagnostics.yml
  ansible/roles/verify/tasks/main.yml
  daemon/dto/health_report.go
  daemon/services/api/diagnostics.go
  daemon/services/api/diagnostics_test.go
  daemon/services/api/health_report.go
  daemon/services/api/server.go
Due: go-build, golangci-lint, gosec, govulncheck

refactor(resilience): read DegradedCount once in health report (CodeRabbit)
  daemon/services/api/health_report.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): sync task status (Task 7 complete)
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md.tasks.json
Due: none

feat(resilience): add run_self_test MCP tool + Prometheus subsystem-status gauges
  daemon/services/api/metrics.go
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(resilience): built-in enabled subsystem_degraded alert + AlertEnv degraded count
  daemon/dto/alert.go
  daemon/services/alerting/builtins_test.go
  daemon/services/alerting/engine.go
  daemon/services/alerting/engine_test.go
  daemon/services/alerting/templates.go
  daemon/services/api/cache_store.go
  daemon/services/api/handlers_alert_template_test.go
  daemon/services/api/server.go
Due: go-build, golangci-lint, gosec, govulncheck

test(resilience): break after finding built-in rule (CodeRabbit nit)
  daemon/services/alerting/builtins_test.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(plan): sync task status (Tasks 8-9 complete)
  docs/superpowers/plans/2026-06-06-os-resilience-hardening.md.tasks.json
Due: none

test(resilience): golden var.ini fixture + breakage tests; docs for self-test + 122 tools
  AGENTS.md
  daemon/services/collectors/fixtures_test.go
  daemon/services/collectors/testdata/fixtures/unraid-7.3.1/var.ini
  docs/guides/configuration.md
  docs/integrations/mcp.md
  skills/unraid-management-agent/SKILL.md
  skills/unraid-management-agent/references/diagnostics.md
  skills/unraid-management-agent/references/mcp-tools.md
Due: go-build, golangci-lint, gosec, govulncheck
