Repository ruaan-deysel/unraid-management-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint, gosec, govulncheck, go-mod-verify, check-version-format

Path conditions:
  go-build: any of: \.go$
  golangci-lint: any of: \.go$
  gosec: any of: \.go$
  govulncheck: any of: (\.go$|go\.mod$)
  go-mod-verify: any of: ^go\.(mod|sum)$
  check-version-format: any of: ^VERSION$

feat(agent): deterministic Langfuse scores per session
  daemon/services/agent/loop.go
  daemon/services/agent/scoring/client.go
  daemon/services/agent/scoring/scores.go
  daemon/services/agent/scoring/scores_test.go
  daemon/services/agent/service.go
  daemon/services/orchestrator.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(agent): wire Langfuse telemetry into orchestrator + docs
  .env.example
  daemon/services/api/handlers_agent_test.go
  daemon/services/mcp/server_test.go
  daemon/services/orchestrator.go
  docs/integrations/langfuse.md
Due: go-build, golangci-lint, gosec, govulncheck

fix(agent): address CodeRabbit findings for Langfuse observability
  daemon/domain/config.go
  daemon/domain/config_test.go
  daemon/services/agent/bootstrap.go
  daemon/services/agent/llm/tracing.go
  daemon/services/agent/llm/tracing_test.go
  daemon/services/agent/loop.go
  daemon/services/agent/scoring/client.go
  daemon/services/agent/scoring/scores.go
  daemon/services/agent/telemetry/masking.go
  daemon/services/agent/telemetry/tracer.go
  daemon/services/agent/telemetry/tracer_test.go
  docs/integrations/langfuse.md
Due: go-build, golangci-lint, gosec, govulncheck

fix(agent): nil-resp guard, guarded TraceID, base-URL normalize (CodeRabbit round 2)
  daemon/services/agent/llm/tracing.go
  daemon/services/agent/loop.go
  daemon/services/agent/loop_trace_test.go
  daemon/services/agent/scoring/client.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(notifications): stock-format .notify files
  CHANGELOG.md
  daemon/services/api/handlers_coverage_test.go
  daemon/services/collectors/notification.go
  daemon/services/collectors/notification_test.go
  daemon/services/controllers/notification.go
  daemon/services/controllers/notification_operations_test.go
  daemon/services/controllers/notification_security_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(notifications): UTC render + archive helper
  daemon/services/collectors/notification.go
  daemon/services/collectors/notification_test.go
  daemon/services/controllers/notification.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(controllers): no blind archive on stat error
  daemon/services/controllers/notification.go
  daemon/services/controllers/notification_operations_test.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(controllers): log failed temp file cleanup
  daemon/services/controllers/notification.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(controllers): guard against short temp writes
  daemon/services/controllers/notification.go
Due: go-build, golangci-lint, gosec, govulncheck

chore(release): update version to 2026.07.00 and update changelog
  CHANGELOG.md
  VERSION
  unraid-management-agent.plg
Due: check-version-format

fix(controllers): accept the stock "normal" importance
  CHANGELOG.md
  daemon/services/controllers/notification.go
  daemon/services/controllers/notification_operations_test.go
  daemon/services/controllers/notification_security_test.go
Due: go-build, golangci-lint, gosec, govulncheck

test(controllers): assert full importance error
  daemon/services/controllers/notification_operations_test.go
Due: go-build, golangci-lint, gosec, govulncheck

refactor(lib): centralize importance validation
  daemon/lib/validation.go
  daemon/lib/validation_test.go
  daemon/services/controllers/notification.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(api): Add optional bearer-token authentication
  daemon/domain/config.go
  daemon/domain/fileconfig.go
  daemon/services/api/middleware.go
  daemon/services/api/middleware_test.go
  daemon/services/api/server.go
  main.go
Due: go-build, golangci-lint, gosec, govulncheck

docs(api): Document optional bearer-token authentication
  CHANGELOG.md
  README.md
  docs/guides/configuration.md
  docs/integrations/mcp.md
  meta/plugin/default.cfg
  meta/plugin/scripts/start
Due: none

docs(swagger): Document the optional bearer-token security scheme
  daemon/docs/docs.go
  daemon/docs/swagger.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
Due: go-build, golangci-lint, gosec, govulncheck

fix(api): Address review findings on optional bearer-token auth
  README.md
  daemon/docs/docs.go
  daemon/docs/swagger.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/domain/config.go
  daemon/lib/validation.go
  daemon/lib/validation_apitoken_test.go
  daemon/services/api/middleware.go
  daemon/services/api/middleware_test.go
  docs/guides/configuration.md
  main.go
  meta/plugin/scripts/start
Due: go-build, golangci-lint, gosec, govulncheck

docs(api): Note the bare /swagger path in the auth-exemption comment
  daemon/services/api/middleware.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(plugin): Fail loudly when config.cfg quoting corrupts API_TOKEN
  docs/guides/configuration.md
  meta/plugin/scripts/start
Due: none

fix(plugin): Strip only one quote wrapper when checking API_TOKEN
  docs/guides/configuration.md
  meta/plugin/scripts/start
Due: none

fix(api): Reject API tokens with leading or trailing whitespace
  daemon/lib/validation.go
  daemon/lib/validation_apitoken_test.go
  docs/guides/configuration.md
Due: go-build, golangci-lint, gosec, govulncheck

feat: resolve open issues (#155, #162, #158, #159, #148, #156) and add per-tool MCP access policies
  CHANGELOG.md
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/domain/config.go
  daemon/domain/fileconfig.go
  daemon/domain/tool_policy.go
  daemon/domain/tool_policy_test.go
  daemon/dto/mcp.go
  daemon/lib/validation.go
  daemon/services/api/cache_store.go
  daemon/services/api/handlers.go
  daemon/services/api/handlers_settings_test.go
  daemon/services/api/handlers_tool_policy_test.go
  daemon/services/api/server.go
  daemon/services/collectors/os_update.go
  daemon/services/collectors/os_update_test.go
  daemon/services/collectors/settings.go
  daemon/services/collectors/unassigned.go
  daemon/services/mcp/control_tools_test.go
  daemon/services/mcp/readonly_test.go
  daemon/services/mcp/server.go
  daemon/services/mcp/tool_policy.go
  daemon/services/mcp/tool_policy_test.go
  daemon/services/mqtt/client.go
  daemon/services/mqtt/commands.go
  daemon/services/mqtt/discovery.go
  daemon/services/orchestrator.go
  docs/guides/configuration.md
  docs/integrations/mcp.md
  main.go
  meta/plugin/default.cfg
  meta/plugin/include/diagnostics.php
  meta/plugin/include/update.php
  meta/plugin/scripts/apply
  meta/plugin/scripts/start
  meta/plugin/unraid-management-agent.page
  skills/unraid-management-agent/SKILL.md
  skills/unraid-management-agent/references/mcp-tools.md
Due: go-build, golangci-lint, gosec, govulncheck

fix: address CodeRabbit and Copilot review feedback on PR #163
  CHANGELOG.md
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/domain/tool_policy.go
  daemon/domain/tool_policy_test.go
  daemon/dto/mcp.go
  daemon/lib/validation.go
  daemon/services/api/handlers.go
  daemon/services/api/handlers_settings_test.go
  daemon/services/api/handlers_tool_policy_test.go
  daemon/services/collectors/os_update.go
  daemon/services/collectors/os_update_test.go
  daemon/services/collectors/unassigned.go
  daemon/services/mcp/control_tools_test.go
  daemon/services/mcp/server.go
  daemon/services/mcp/tool_policy_test.go
  daemon/services/mqtt/client.go
  daemon/services/mqtt/commands.go
  daemon/services/mqtt/discovery.go
  daemon/services/orchestrator.go
  docs/guides/configuration.md
  docs/integrations/mcp.md
  meta/plugin/include/diagnostics.php
  meta/plugin/scripts/apply
  meta/plugin/scripts/start
  meta/plugin/unraid-management-agent.page
Due: go-build, golangci-lint, gosec, govulncheck

Fix token escaping in apply script
  meta/plugin/scripts/apply
Due: none

Refactor OS update check for version comparison
  daemon/services/collectors/settings.go
Due: go-build, golangci-lint, gosec, govulncheck

test(collectors): add test for isVersionNewer in settings collector and update changelog
  CHANGELOG.md
  daemon/services/collectors/settings.go
  daemon/services/collectors/settings_test.go
Due: go-build, golangci-lint, gosec, govulncheck

chore: update version to 2026.09.00 and add per-tool MCP access policy to changelog
  CHANGELOG.md
  VERSION
  unraid-management-agent.plg
Due: check-version-format

feat(mcp): add ha-mcp style zero-config Connect URL onboarding and fix GET /mcp hang (#165, #166)
  CHANGELOG.md
  ansible/roles/verify/tasks/mcp.yml
  daemon/domain/config.go
  daemon/domain/fileconfig.go
  daemon/lib/validation.go
  daemon/lib/validation_test.go
  daemon/services/api/metrics.go
  daemon/services/api/middleware.go
  daemon/services/api/middleware_test.go
  daemon/services/api/server.go
  daemon/services/discovery/service.go
  daemon/services/discovery/service_test.go
  daemon/services/mcp/http_transport_test.go
  daemon/services/mcp/server.go
  daemon/services/mcp/server_test.go
  daemon/services/orchestrator.go
  docs/design/mcp-onboarding.md
  docs/guides/configuration.md
  docs/integrations/claude/README.md
  docs/integrations/mcp.md
  main.go
  meta/plugin/include/update.php
  meta/plugin/scripts/apply
  meta/plugin/scripts/start
  meta/plugin/unraid-management-agent.page
Due: go-build, golangci-lint, gosec, govulncheck

fix(mcp): address Copilot and CodeRabbit PR #167 review feedback
  CHANGELOG.md
  ansible/roles/verify/tasks/mcp.yml
  daemon/services/api/middleware.go
  daemon/services/mcp/server.go
  daemon/services/orchestrator.go
  docs/design/mcp-onboarding.md
  docs/integrations/claude/README.md
  docs/integrations/mcp.md
Due: go-build, golangci-lint, gosec, govulncheck

fix(mcp): clean up non-ServerSession keys in toolsListLoggedSessions and support api_token in Ansible GET /mcp verify
  ansible/roles/verify/tasks/mcp.yml
  daemon/services/mcp/server.go
Due: go-build, golangci-lint, gosec, govulncheck

docs(mcp): document MCP_CONNECT_SECRET URL credential scope and security guidance
  daemon/services/api/middleware.go
  docs/integrations/mcp.md
Due: go-build, golangci-lint, gosec, govulncheck

fix(ui): replace MCP client snippets with HA-MCP style Connect URL(s)
  CHANGELOG.md
  meta/plugin/include/update.php
  meta/plugin/scripts/start
  meta/plugin/unraid-management-agent.page
Due: none

fix(ui): render MCP Connect URLs as selectable code elements
  meta/plugin/unraid-management-agent.page
Due: none

fix(ui): strip single quotes from INI_SCANNER_RAW secret values
  meta/plugin/include/diagnostics.php
  meta/plugin/include/update.php
  meta/plugin/scripts/apply
  meta/plugin/scripts/start
  meta/plugin/unraid-management-agent.page
Due: none

fix(ui): unify all WebGUI buttons as standard input[type=button] with no hover animations
  meta/plugin/unraid-management-agent.page
Due: none

fix(collectors): collect ZFS corrupted files from zpool status -v
  CHANGELOG.md
  daemon/services/collectors/testdata/zpool/status-v-permanent-errors.txt
  daemon/services/collectors/zfs.go
  daemon/services/collectors/zfs_corrupted_files_test.go
Due: go-build, golangci-lint, gosec, govulncheck

test(coverage): add regression tests for logger, redaction, diagnostics (#192)
  CHANGELOG.md
  daemon/lib/redact_test.go
  daemon/logger/diagnostic_test.go
  daemon/logger/stacks_test.go
  daemon/services/diagnostics/archive_errors_test.go
  daemon/services/diagnostics/bundle_helpers_test.go
Due: go-build, golangci-lint, gosec, govulncheck

test(coverage): address CodeRabbit review feedback on logger tests
  daemon/logger/diagnostic_test.go
  daemon/logger/stacks_test.go
Due: go-build, golangci-lint, gosec, govulncheck
