Repository ruaan-deysel/unraid-management-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint, gosec, govulncheck, go-mod-verify, check-version-format

Path conditions:
  go-build: any of: \.go$
  golangci-lint: any of: \.go$
  gosec: any of: \.go$
  govulncheck: any of: (\.go$|go\.mod$)
  go-mod-verify: any of: ^go\.(mod|sum)$
  check-version-format: any of: ^VERSION$

Remove Support section from README
  README.md
Due: none

Update plugin manifest files with latest version and checksum
  meta/template/unraid-management-agent.plg
  unraid-management-agent.plg
Due: none

chore: update docs and collectors
  CHANGELOG.md
  README.md
  VERSION
  daemon/docs/swagger.json
  daemon/services/collectors/disk.go
  daemon/services/collectors/disk_test.go
  docs/README.md
  docs/api/prometheus.md
  docs/api/rest-api.md
  docs/api/websocket-events.md
  docs/api/websocket-structure.md
  docs/development/code-quality.md
  docs/guides/configuration.md
  docs/guides/installation.md
  docs/guides/quick-start.md
  docs/guides/system-requirements.md
  docs/integrations/grafana.md
  docs/integrations/home-assistant.md
  docs/integrations/mcp.md
  docs/integrations/mqtt.md
  docs/troubleshooting/diagnostics.md
  meta/template/unraid-management-agent.plg
  unraid-management-agent.plg
  unraid-management-agent.xml
Due: go-build, golangci-lint, gosec, govulncheck, check-version-format

chore: comply with Unraid Third Party App Naming and Trademark Policy
  CLAUDE.md
  README.md
  docs/README.md
  docs/guides/installation.md
  docs/guides/quick-start.md
  meta/template/unraid-management-agent.plg
  unraid-management-agent.plg
Due: none

feat: implement MCP Streamable HTTP transport (spec 2025-06-18)
  CHANGELOG.md
  daemon/docs/swagger.json
  daemon/services/mcp/server.go
  daemon/services/mcp/streamable_http.go
  daemon/services/mcp/streamable_http_test.go
  daemon/services/orchestrator.go
  docs/README.md
  docs/api/prometheus.md
  docs/development/code-quality.md
  docs/guides/configuration.md
  docs/guides/installation.md
  docs/guides/quick-start.md
  docs/guides/system-requirements.md
  docs/integrations/grafana.md
  docs/integrations/home-assistant.md
  docs/integrations/mcp.md
  docs/integrations/mqtt.md
  meta/template/unraid-management-agent.plg
  unraid-management-agent.plg
Due: go-build, golangci-lint, gosec, govulncheck

feat: add CPU power consumption monitoring via Intel RAPL (#60)
  .github/copilot-instructions.md
  CHANGELOG.md
  daemon/constants/const.go
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/mcp.go
  daemon/dto/system.go
  daemon/dto/system_test.go
  daemon/lib/sysfs_power.go
  daemon/lib/sysfs_power_test.go
  daemon/services/api/metrics.go
  daemon/services/collectors/system.go
  daemon/services/mcp/server.go
  daemon/services/mcp/server_test.go
  daemon/services/mcp/streamable_http.go
  daemon/services/mcp/streamable_http_test.go
  daemon/services/mcp/transport.go
  daemon/services/mcp/transport_test.go
  daemon/services/orchestrator.go
  docs/integrations/mcp.md
  go.mod
  go.sum
Due: go-build, golangci-lint, gosec, govulncheck, go-mod-verify

feat: Add MCP STDIO transport for local AI clients
  CHANGELOG.md
  daemon/cmd/mcp_stdio.go
  daemon/docs/swagger.json
  daemon/services/api/server.go
  daemon/services/mcp/server.go
  daemon/services/mcp/server_test.go
  daemon/services/orchestrator.go
  docs/integrations/mcp.md
  main.go
Due: go-build, golangci-lint, gosec, govulncheck

Add CPU Power Consumption Monitoring support
  CHANGELOG.md
Due: none

fix: address PR review feedback from Copilot and CodeRabbit
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/system.go
  daemon/dto/system_test.go
  daemon/lib/sysfs_power.go
  daemon/services/api/metrics.go
  daemon/services/collectors/system.go
  docs/README.md
  docs/api/prometheus.md
  docs/integrations/grafana.md
Due: go-build, golangci-lint, gosec, govulncheck

Bump version to 2026.02.01
  VERSION
Due: check-version-format

Bump version to 2026.02.01 with new features
  unraid-management-agent.plg
Due: none

Change release date to 2026-02-14
  unraid-management-agent.xml
Due: none

Bump version to 2026.02.01 and document changes
  meta/template/unraid-management-agent.plg
Due: none

Fix VM resume/start when pmsuspended (Windows sleep)
  CHANGELOG.md
  daemon/services/controllers/vm.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(plugin): improve reliability, security, and performance
  Makefile
  meta/plugin/default.cfg
  meta/plugin/include/exec.php
  meta/plugin/include/update.php
  meta/plugin/scripts/apply
  meta/plugin/scripts/start
  meta/plugin/unraid-management-agent.page
Due: none

Remove outdated templates for implementation plans, feature specifications, and task lists
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/prompts/speckit.analyze.prompt.md
  .github/prompts/speckit.checklist.prompt.md
  .github/prompts/speckit.clarify.prompt.md
  .github/prompts/speckit.constitution.prompt.md
  .github/prompts/speckit.implement.prompt.md
  .github/prompts/speckit.plan.prompt.md
  .github/prompts/speckit.specify.prompt.md
  .github/prompts/speckit.tasks.prompt.md
  .github/prompts/speckit.taskstoissues.prompt.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  tasks.md
Due: none

docs: update changelog for version 2026.03.00 to include bug fixes and performance optimizations
  meta/template/unraid-management-agent.plg
  unraid-management-agent.plg
Due: none

docs: add release date for version 2026.03.00 in changelog
  CHANGELOG.md
Due: none

fix(collectors): correct disk size calculation from KiB to bytes
  CHANGELOG.md
  daemon/services/collectors/disk.go
  daemon/services/collectors/disk_test.go
Due: go-build, golangci-lint, gosec, govulncheck

chore: bump version to 2026.03.01
  meta/template/unraid-management-agent.plg
  unraid-management-agent.plg
Due: none

docs(plan): require ansible deployment validation
  docs/plans/2026-03-08-homelab-hardening-design.md
  docs/plans/2026-03-08-homelab-hardening-implementation.md
Due: none

fix(parity): guard NaN/Inf in parity speed parsing (#82)
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/on-create.sh
  .github/copilot-instructions.md
  .github/workflows/release.yml
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  README.md
  ansible/README.md
  ansible/deploy.yml
  ansible/group_vars/all.yml
  daemon/services/collectors/parity.go
  daemon/services/collectors/parity_test.go
  go.mod
  go.sum
  meta/template/unraid-management-agent.plg
  scripts/README.md
  scripts/config.sh.example
  scripts/deploy-plugin.sh
  scripts/diag.sh
  scripts/validate-live.sh
  unraid-management-agent.plg
  unraid-management-agent.xml
Due: go-build, golangci-lint, gosec, govulncheck, go-mod-verify

fix(collectors): convert share sizes from KiB to bytes
  daemon/services/collectors/share.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(ui): fix select and warning colours in dark mode
  meta/plugin/unraid-management-agent.page
Due: none

fix(collectors): downgrade APC fallback warning to DEBUG; add initial UPS collect
  daemon/services/collectors/ups.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(collectors): warn when NUT is enabled without UPS collector
  daemon/services/collector_manager.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(collectors): use ZFS referenced bytes for per-share used size
  daemon/services/collectors/share.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(collectors): log ZFS list failures at debug level
  daemon/services/collectors/share.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(lib): add ExecCommandOutputWithContext for cancellable exec
  daemon/lib/shell.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(collectors): fix ZFS dataset depth matching and thread context
  daemon/services/collectors/share.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(mqtt): use power_watts instead of nominal_power_watts for UPS Power Draw sensor
  daemon/services/mqtt/discovery.go
Due: go-build, golangci-lint, gosec, govulncheck

feat(mqtt): wire 7 missing collector topics to MQTT event subscriber
  CHANGELOG.md
  daemon/dto/mqtt.go
  daemon/dto/mqtt_test.go
  daemon/services/mqtt/client.go
  daemon/services/mqtt/client_coverage_test.go
  daemon/services/mqtt/client_test.go
  daemon/services/mqtt/discovery.go
  daemon/services/orchestrator.go
Due: go-build, golangci-lint, gosec, govulncheck

release: v2026.03.20 — collector fixes, ZFS, dark mode, MQTT full coverage
  CHANGELOG.md
  daemon/dto/mqtt.go
  daemon/dto/mqtt_test.go
  daemon/lib/shell.go
  daemon/services/collector_manager.go
  daemon/services/collectors/share.go
  daemon/services/collectors/ups.go
  daemon/services/mqtt/client.go
  daemon/services/mqtt/client_coverage_test.go
  daemon/services/mqtt/client_test.go
  daemon/services/mqtt/discovery.go
  daemon/services/orchestrator.go
  meta/plugin/unraid-management-agent.page
Due: go-build, golangci-lint, gosec, govulncheck

chore: bump VERSION to 2026.03.20
  VERSION
Due: check-version-format

feat(mqtt): add network throughput rate sensors for Home Assistant
  daemon/docs/docs.go
  daemon/docs/swagger.json
  daemon/docs/swagger.yaml
  daemon/dto/network.go
  daemon/services/collectors/network.go
  daemon/services/mqtt/discovery.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(lib): add ExecCommandOutputWithContext for context-aware ZFS command execution
  daemon/lib/shell.go
Due: go-build, golangci-lint, gosec, govulncheck

fix(collectors): convert share sizes from KiB to bytes, reduce NUT log noise, and fix dark mode UI
  daemon/services/collectors/share.go
  daemon/services/collectors/ups.go
  meta/plugin/unraid-management-agent.page
Due: go-build, golangci-lint, gosec, govulncheck
